.item {
  margin: 1rem 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: #f7f5ef;
}
.itemChecked {
  margin: 1rem 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: #f7f5ef;
  text-decoration: line-through;
}
.button {
  font: inherit;
  background-color: #ebb002;
  border: 1px solid #ebb002;
  color: #201d0f;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}
.container {
  display: flex;
  align-content: stretch;
  flex-direction: row;
  justify-content: flex-end;
}

.button :hover,
.button :active {
  background-color: #ebc002;
  border-color: #ebc002;
}
